<!DOCTYPE html>

<html ng-app='app'>
	<head>
		<meta charset="UTF-8">

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>
		<script src="js/library.js"></script>
		<script src="js/app.js"></script>
	</head>

	<body ng-controller="MainCtrl as Ctrl">
		<input  placeholder="Título Operacion" ng-model="tituloOperacion" type="text" style="margin:1%;">
		<br>
		<textarea placeholder="Descripción Evento" rows="4" cols="50" ng-model="descripcionOperacion" style="margin:1%;"></textarea>
		<br>
		<select style="margin:1%;" ng-model="operadorOperacion">
			<option value="">Seleccionar operador designado...</option>
			<option value="Francisco Labra">Francisco Labra</option>
			<option value="Cristopher Saldanha">Cristopher Saldaña</option>
			<option value="Adonis Estolaza">Adonis Estolaza</option>
			<option value="Jacob Nunhez">Jacob Nuñez</option>
			<option value="Felipe Palma">Felipe Palma</option>
		</select>
		<br>
		
		<div style="margin:1%">
			<input type="radio" ng-model="claseOperacion" value="Normal">Normal <br>
			<input type="radio" ng-model="claseOperacion" value="Importante">Importante <br>
			<input type="radio" ng-model="claseOperacion" value="Critica">Critica <br>
		</div>

		<input type="submit" ng-click="generarOperacion()" value="Grabar" style="margin:1%;">

		<div ng-model="data">
			
			{{ Ctrl.db | json }}
		</div>
	</body>
</html>